/* @font-face {
    font-family: 'Audiowide';
    src: url('https://fonts.googleapis.com/css?family=Audiowide');
    font-weight: normal;
    font-style: normal;
} */

body:not(canvas) {
    background: #555;
}

#crusherE86-Canvas {
    display: block;
    margin: 0 auto;
    background: #fff;
}