@font-face {
    font-family: 'Dock51';
    src: url('../Assets/fonts/dock51-webfont.woff2') format('woff2'), url('../Assets/fonts/dock51-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body:not(canvas) {
    background: #555;
}

#crusherE86-Canvas {
    display: block;
    margin: 0 auto;
    background: #fff;
}